<html ng-app="calculator">
  <head>
    <title>Calculadora</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
  	<div ng-controller="calculatorCtrl">
  		<p>initial: <input ng-model="initial"/></p>
  		<p>rate (%): <input ng-model="rate"/></p>
  		<p>monthly: <input ng-model="monthly"/></p>
  		<p>years: <input ng-model="years"/></p>
		Resultado: <h1>{{ fv(rate/100,years,-monthly*12,-initial, 0) }}</h1>
  	</div>
  </body>
</html>